<!-- Fondo oscuro cuando el menú está abierto -->
<div class="overlay" *ngIf="menuAbierto" (click)="toggleMenu()"></div>

<!-- SIDEBAR -->
<div class="sidebar" [class.abierto]="menuAbierto" >
  <!-- PERFIL DEL USUARIO (arriba del sidebar) -->
  <div class="user-profile" (click)="toggleUserMenu()">
    <img [src]="usuario?.foto || 'assets/img/default-user.png'" class="user-avatar" />

    <div class="user-info">
      <h3>{{ usuario?.nombre || 'Usuario' }}</h3>
      <p>{{ usuario?.rol || 'Rol no asignado' }}</p>
    </div>

    <img src="assets/icons/chevron-down.svg" class="arrow-icon" [class.abierto]="userMenuAbierto" />
  </div>

  <!-- SUBMENÚ -->
  <div class="user-submenu" *ngIf="userMenuAbierto">
    <button (click)="verPerfil()">
      <img src="assets/icons/user.svg" class="sub-icon" /> Ver perfil
    </button>

    <button (click)="cerrarSesion()">
      <img src="assets/icons/arrow-right-on-rectangle.svg" class="sub-icon" /> Cerrar sesión
    </button>
  </div>

  <!-- TITULOS DEL SISTEMA -->
  <p class="subtitle">Sistema de Gestión Ministerial</p>

 <nav>
  <a routerLink="/dashboard" title="Dashboard" routerLinkActive="active">
    <img src="assets/icons/home.svg" class="icon" />
    <span>Dashboard</span>
  </a>

  <a routerLink="/reportes" routerLinkActive="active" title="Reportes">
    <img src="assets/icons/chart-bar.svg" class="icon" />
    <span>Reportes e Informes</span>
  </a>

  <a routerLink="/ingresos" routerLinkActive="active" title="Ingresos">
    <img src="assets/icons/banknotes.svg" class="icon" />
    <span>Ingresos</span>
  </a>

  <a routerLink="/gastos" routerLinkActive="active" title="Gastos">
    <img src="assets/icons/arrow-up-tray.svg" class="icon" />
    <span>Gastos</span>
  </a>

  <a routerLink="/config" routerLinkActive="active" title="Configuracion">
    <img src="assets/icons/cog-6-tooth.svg" class="icon" />
    <span>Configuración</span>
  </a>

  <span class="departamentos-title">DEPARTAMENTOS</span>

  <a routerLink="/jovenes" routerLinkActive="active" title="Jovenes">
    <img src="assets/icons/user-group.svg" class="icon" />
    <span>Jóvenes</span>
  </a>

  <a routerLink="/damas" routerLinkActive="active" title="Damas">
    <img src="assets/icons/heart.svg" class="icon" />
    <span>Damas</span>
  </a>

  <a routerLink="/varones" routerLinkActive="active" title="Vaones">
    <img src="assets/icons/shield-check.svg" class="icon" />
    <span>Caballeros</span>
  </a>

  <a routerLink="/ninos" routerLinkActive="active" title="Niños">
    <img src="assets/icons/face-smile.svg" class="icon" />
    <span>Niños</span>
  </a>
</nav>

</div>
